html {
    height: 100%;
    background: linear-gradient(#2c62d6, #73efe7, #2c62d6);
    font-family: cursive;
}

#container {
    width: 800px;
    height: 580px;
    background-color: #564e4e;
    padding: 20px;
    margin: 30px auto 0px;
    position: relative;
    border-radius: 20px;
}

#score {
    width: 150px;
    height: 40px;
    background-color: yellow;
    line-height: 2.5;
    text-align: center;
    position: absolute;
    right: 20px;
/*    padding: 2px;*/
}

#lives {
    width: 285px;
    height: 40px;
    background-color: #119b33;
    margin: 0px 10px;
    box-shadow: 0px 2px black;
    visibility: hidden;
/*    display: none;*/
    
}

#time {
    width: 80px;
    height: 40px;
    background-color: #ff0800;
    color: white;
    top: 495px;
    left: 700px;
    margin: 0px 10px;
    box-shadow: 0px 2px black;
    position:absolute;
    text-align: center;
    line-height: 2.5;
/*    visibility: hidden;*/
    display: none;
    
}

.life{
    width: 37px;
    margin: 2px 5px 0px 5px;
}

/*
.life: {
    
}
*/

#screen {
    width: 600px;
    height: 400px;
    background-color: white;
/*    position:absolute;*/
    margin: 20px auto 10px auto;
    box-shadow: 2px 3px #b5aaaa;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: url('image/knife.cur'),auto;
/*    cursor: pointer;*/
}

.items {
    display: none;
    position: absolute;
}

#over {
    width: 620px;
    height: 465px;
    background: linear-gradient(#ef584a, #ed1502);
    font-size: 60px;
    line-height: 2;
    text-align: center;
    position: absolute;
    z-index: 2;
    top: 70px;
    left: 110px;
    margin: auto;
    display: none;
    border-radius: 20px;
}

#catch {
    width: 300px;
    height: 40px;
    background-color: #b205af;
    text-align: center;
    line-height: 2.3;
    box-shadow: 0px 3px #681265;
    margin-left: 250px;
    position: relative;
/*    cursor:pointer;*/
    
}

/*
#catch:hover {
    text-transform: uppercase;
    background-color: #8211f4;
    color: white;
}

#catch:active {
    box-shadow: 0px 0px black;
    top: 3px;
}
*/

#startReset {
    width: 120px;
    height: 40px;
    background-color: #bea1dd;
    text-align: center;
    line-height: 2.3;
    box-shadow: 0px 3px #725d89;
    margin-top: 15px;
    margin-left: 340px;
    position: relative;
    cursor:pointer;
    
}

#startReset:hover {
    text-transform: uppercase;
    background-color: #52910b;
    color: white;
}

#startReset:active {
    box-shadow: 0px 0px black;
    top: 3px;
}
